.contact {
  padding: 60px 20px;
  background-color: #ffffff;
  max-width: 700px;
  margin: auto;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-form input,
.contact-form textarea {
  padding: 15px;
  border: 1px solid #e8caca;
  border-radius: 6px;
  font-size: 16px;
}

.contact-form button {
  background-color: #f38594;
  color: white;
  padding: 14px;
  border: none;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #f38594;
}
